    <%- include('./partials/navbar.ejs'); %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .icons{
            display: flex;
            justify-content: space-between;
            max-width: 300px;
        }
        .icons i{
            cursor: pointer;
            font-size: 30px;
            transition: color 0.3s linear;
        }
        .icons i:hover{
            color: red;
        }
        #allChecked{
            cursor: pointer;
        }
        .blocked{
            color: red;
        }
        .active{
            color: dodgerblue;
        }
    </style>
    <div class="container">
        <form name="action">
            <div class="icons">
                <span><i id="block" class="fa-solid fa-ban"></i></span>
                <span><i id="unblock" class="fa-solid fa-unlock"></i></span>
                <span><i id="remove" class="fa-solid fa-trash"></i></span>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th id="allChecked">
                        Выделить все
                    </th>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Last login</th>
                    <th scope="col">Registration time</th>
                    <th scope="col">status</th>
                </tr>
                </thead>
                <tbody id="tableBody">
                </tbody>
            </table>
        </form>
    </div>
    <script src="/indexUser.js"></script>

</body>
</html>